# เลือก platform: windows หรือ linux (ถ้าไม่กำหนดจะ auto-detect จาก OS)
# MYCOBOT_PLATFORM=windows
# MYCOBOT_PLATFORM=linux

# Windows: COM10  |  Linux/Jetson: /dev/ttyUSB0
MYCOBOT_PORT=/dev/ttyUSB0
MYCOBOT_BAUD=1000000

LLM_BASE_URL=https://prodsvc.educg.net/deepseek/v1/
LLM_MODEL_NAME=deepseek
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_API_VOICE_KEY=MOO_DEANG

QWEN_VL_URL=https://prodsvc.educg.net/serve-qwen25-vl-7b-instruct/v1
QWEN_VL_MODEL=qwen2.5-vl:7b
QWEN_VL_API_KEY=EMPTY
