dt_apriltags
Jetson.GPIO
matplotlib
numpy
openai
httpx
opencv_contrib_python
opencv_python
Pillow
pymycobot
PyYAML
Requests
scipy
transforms3d
python-dotenv
openai-agents
SpeechRecognition
PyAudio
customtkinter
